.txt-center {
  text-align: center;
}

.ui.main.container{
  margin-top: 2em;
  margin-bottom: 2em;
}

.verticalMenu{
  position: fixed;
}

.no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;    
}